@CHARSET "ISO-8859-1";

 html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 10px;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#archivoImagenPiso, #archivoAudioguia, #archivoGaleria, #archivoPlano {
    display: none;
}

.page-header {
	 margin-left: 5rem;
}

.view-city-page-header {
	margin-left: 3%;
	margin-bottom: 2%;
}

.form-horizontal {
	height: 27%;
	width: 100%;
}

.cities-panel-group {
	margin-left: 3%;
	margin-right: 3%;
	overflow: hidden;
}

.panel-group {
	width: 100%;
	height: 100%;
	display:inline-block;
	overflow: auto;
}

.city-panel-buttons {
	text-align:center;
	display: block;
	width: 100%;
	height: 0%;
}

.panel-body {
	width: 100%;
	height: 100%;
}

.new-city-alert-message {
	width: 50rem;
	margin-left: 17.4rem;
}

.input-and-image-group {
	margin-left: 8rem;
}

.name-group {
	margin-top: 2rem;
}

.name-label {
	margin-left: 11rem;
	width: 6rem;
}

.name-box {
	margin-top: 0.5rem;
	height: 2.5rem;
	width: 50rem;
}

.input {
	margin-top: 0.5rem;
	margin-left: 10rem;
}

.image-group {
	margin-top: 3rem;
	display: inline-block;	
  	vertical-align: top;
}

.image-label {
	margin-left: 2.3rem;
	margin-top: 2rem;
	width: 12.1rem;
	font-weight: bold;
	text-align: center;
}

.image-box {
	margin-left: 3rem;
	height: 18.75rem;
	width: 50rem;
	background-color: #909090;
}

.image-route {
	margin-top: 0.5rem;
	height: 2.5rem;
	width: 10rem;
}

#map {
    width: 27.7rem;
    height: 27.7rem;
}

.map-new-city {
	margin-top: 3rem;
	margin-right: 25rem;
}

.btn-get-file {
	margin-left: 1.8rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.btn-final {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.sobreBoton {
    display:inline-block;
    position:relative;
}
 
.sobreBoton input {
    position:absolute;
    bottom:-11px;
    right:-1px;
}

.atraction-alert { 
	margin-top: 1rem;
	margin-bottom: -0.5rem;
	width: 50rem;
}

.atraction-gallery-alert {
	margin-top: 20rem;
}

.atraction-alert-already-exists {
	margin-top: 3rem;
	margin-left: 5rem;
	margin-right: 5rem;
}

.atraction-alert-incorrect-audio {
	margin-top: 4rem;
}

.atraction-alert-no-location {
	margin-top: 1rem;
	margin-left: 8rem;
	width: 54rem;
}

.atraction-alert-far-location {
	margin-left: 8rem;
	width: 54rem;
}

.view-atraction-map-group-error-messages {
	margin-top: 1rem;
}

.alert-message { 
	margin-top: 20rem;
}

.view-city-information-block {
	height: 50%;
	width: 100%;
}

.view-city-wrong-image {
	margin-top: 1%;
	margin-left: 3%;
	margin-right: 3%;
}

.view-city-image-box {
    display: block;
    margin-top: 3%;
    margin-left: 3%;
	margin-right: 3%;
	height: 100%;
	width: 94%;
	background-color: #909090;
}

.view-city-panel {
	float: right;
	width: 66%;
	margin-left: 0%;
	margin-right: 3%;
	left: 0;
	right: 0;
}

.view-city-board {
	width: 100%;
	height: 100%;
}

.view-city-map {
	float:left;
	height: 100%;
	width: 25%;
}

.view-city-btn-final {
	margin-top: 7%;
	margin-bottom: 1.5%;
}

.btn-ver {
	display: block;
	float: left;
	width: 46%;
	background-color: #F0F0F0;
    border-radius: 2px;
}

.btn-agregar {
	display: block;
	float: left;
	width: 4%;
	border-radius: 2px;
}

.form-city-add-atraction {
	width: 100%;
	height: 100%;
}

.atraction-label {
	margin-top: 1rem;
}

.atraction-box {
	width: 50rem;
}

.atraction-blueprints-box, .atraction-gallery-box {
	height: 18.75rem;
	width: 50rem;
	background-color: #909090;
}

.atraction-new-form {
	margin-left: 5rem;
}

.view-atraction-panel {
	margin-right: 5rem;
	margin-top: 5rem;
	width: 70rem;
}

.new-atraction-right-block {
	margin-top: 4rem;
}

.new-atraction-audio-group {
	margin-top: 1rem;
}

.view-atraction-points-of-interest-panel {
	margin-top: 1rem;
}

.view-atraction-comments-panel {
	margin-top: 3.4rem;
}

.atraction-right-block {
	margin-right: 5rem;
}

.atraction-blueprints-box .atraction-get-blueprints {
	position: relative;
    top: -18rem;
    left: 45rem;
}

.atraction-gallery-box .atraction-erase-multimedia {
	position: relative;
    top: -18rem;
    left: 35rem;
}

.atraction-bluprints-and-chart {
	margin-top: 1rem;
}

.btn-ver-puntos-y-obras {
	display: block;
	float: left;
	width: 66.3rem;
	background-color: #F0F0F0;
    border-radius: 2px;
}

.btn-agregar-puntos-y-obras {
	display: block;
	float: left;
	border-radius: 2px;
}

#atraction-map {
    width: 54rem;
    height: 30rem;
    margin-left: 7.5rem;
}

.atraction-map-controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#atraction-map-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 380px;
}

.btn-atraction-get-audio-file {
	margin-top: -0.1rem;
	margin-right: 0.1rem;
}

.atraction-gallery-box .atraction-gallery-slide-left {
	position: relative;
    top: -10.5rem;
    left: 5rem;
    background-color: Transparent;
}

.atraction-gallery-box .atraction-gallery-slide-right {
	position: relative;
    top: -10.5rem;
    left: 40rem;
    background-color: Transparent;
}

.atraction-gallery-box .btn-atraction-get-gallery-file {
	position: relative;
    top: -10.7rem;
    left: 17.5rem;
}

.view-atraction-map-group {
	margin-top: 1rem;
	margin-left: 0.6rem;
	margin-bottom: 33rem;
}

#edit-coordinates {
	margin-bottom: 0.5rem;
}

.atraction-map-editing-buttons {
	margin-left: 1rem;
}

.view-city-image-box .btn-get-file {
	position: relative;
    top: -100%;
    left: 94.75%;
}

.atraction-popup-close {
	margin-right: 5px;
}

#atraction-point-of-interest-popup-form {
	display: none;
	position: absolute;
	z-index: 1;
	background-color: #fefefe;
	border: 1px solid #888;
    width: 50%;
    height: 600px;
    top: 0%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    overflow: auto;
}

#atraction-point-of-interest-popup-form .atraction-new-point-of-interest {
	position: relative;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

.btn-final-pdi-form {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.disable-buttons {
    pointer-events: none;
    opacity: 0.4;
}

.atraction-point-of-interest-image-box {
	height: 18.75rem;
	width: 50rem;
	background-color: #909090;
	margin-bottom: 2rem;
}

.atraction-point-of-interest-image-box .atraction-poi-get-image {
	position: relative;
    top: -18rem;
    left: 45rem;
}

#atraction-comment-popup {
	/*display: none;*/
	position: absolute;
	z-index: 1;
	background-color: #fefefe;
	border: 1px solid #888;
    width: 55%;
    height: 300px;
    top: 0%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    overflow: hidden;
}

#atraction-comment-popup .atraction-view-comment {
	position: relative;
	width: 85%;
	height: 75%;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

#audio {
	width: 40rem;
}